.comment-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

.comment-section input {
  border: none;
  outline: none;
  flex: 1;
  margin-right: 8px;
}

.submit-btnComment {
  border: none;
  background: none;
  font-weight: bold;
  color: #0095f6;
  margin-left: 10px;
  cursor: pointer;
}