.main-post {
  background-color: white;
  padding: 15px 50px;

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__author > svg {
    cursor: pointer;
  }

  &__author-avatar > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }

  &__author-name {
    margin-right: auto;
    padding-left: 5px;
    font-weight: bold;

  }

  &__img > img {
    width: 100%;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
  }

  &__icon-wrapper > svg {
    padding: 5px;
    cursor: pointer;
  }

  &__icon-wrapper > svg:last-child {
    margin-left: auto;
  }

  &__views {
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__comment{
    padding:5px 0;
    margin-bottom: 20px;
  }
  &__comment>span{
    font-weight: bold;
  }
  .main-post__comments-more{
    color: gray;
    cursor: pointer;

  }
}



