.flex-wrap{
  display: flex;
  justify-content: space-around;
}
.news-line{

  min-height: 100vh;
  width: 50%;

}

.users-container{
  width: 35%;
  //background-color: #fff;
  min-height: 100vh;
  padding: 15px 50px;
}

.main-user{
  display: flex;
  margin: 10px;

  &__avatar>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

  }

  &__info{
    margin-left: 20px;
  }
  &__nickName{
    font-weight: bold;
  }

  &__name{
    margin-top: 5px;
    color: grey;
  }
}
.user-following{
  width: 70%;
  background-color:white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 30px;

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__stories{
    color:grey;
  }
  &__showAll{
    font-weight: bold;
    cursor: pointer;
  }
  &__wrapper{
    max-height: 200px;
    overflow: auto;

  }
}
.about__wrapper{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.about__item{
  color:gray;
  margin-right: 5px;
  margin-bottom: 10px;
}
.inst_from_meta{
  color:gray;
  margin-top: 10px;
}
